@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Zen Loop", cursive;
}

body, #root, #App {
  width: 100vw;
  height: 100vh;
}
